{{ define "main" }}
<h1>{{ lower .RelPermalink }}</h1>
{{- range .Pages -}}
<div class="box">
<a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
<time datetime="{{ .Date }}">{{ .Date | time.Format .Site.Params.dateFormat }}</time><br>
<span>{{ .WordCount }} words / {{ math.Round (math.Div (.WordCount) 110.0) }} minutes</span><br>
{{ with .Params.tags -}}
{{- if ge (len .) 1 -}}
{{- range . -}}
<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
{{ end -}}
{{- end -}}
{{- end -}}
</div>
{{ end -}}
{{- end -}}