<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ partial "description.html" . }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ partial "description.html" . }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="twitter:card" content="summary" />