{{ define "main" }}
<header>
<a href="{{ .Site.BaseURL }}">{{ .Title }}</a>
<hr>
</header>
<main>
<section>
{{- range where .Site.RegularPages "Section" "" -}}
<a href="{{ .RelPermalink }}">{{ lower .Title }}</a> 
{{ end -}}
<hr>
</section>
{{- range where .Site.RegularPages "Params.pin" true -}}
<section>
<span>pinned writing:</span>
<ul class="list">
{{- range where .Site.RegularPages "Params.pin" true -}}
<li><a href="{{ .RelPermalink }}">{{ lower .Title }}</a></li>
{{- end -}}
</ul>
<hr>
</section>
{{- break -}}
{{- end -}}
<section>
<span>recent updates:</span>
<ul class="list">
{{- range first .Site.Params.updateLimit (where .Site.RegularPages "Section" "update") }}
<li><time datetime="{{ .Date }}">{{- .Date | time.Format "2006/01/02" }}</time>: <a href="{{ .RelPermalink }}">{{ lower .Title }}</a></li>
{{- end }}
<li><a href="{{ "/update" | relURL }}">see all updates</a></li>
</ul>
<hr>
</section>
<section>
<span>recent writing:</span>
<ul class="list">
{{- range first .Site.Params.postLimit (where .Site.RegularPages "Section" "post") }}
<li><time datetime="{{ .Date }}">{{- .Date | time.Format "2006/01/02" }}</time>: <a href="{{ .RelPermalink }}">{{ lower .Title }}</a></li>
{{- end }}
<li><a href="{{ "/post" | relURL }}">see all articles</a></li>
</ul>
<hr>
</section>
<section>
<span><a href="{{ "/tags" | relURL }}">tags</a>:</span>
{{- range $name, $taxonomy := .Site.Taxonomies.tags }}
{{- with $.Site.GetPage (printf "/tags/%s" $name) }}
    <a href="{{ .RelPermalink }}">{{ $name }}</a>
{{- end }}
{{- end -}}
<hr>
</section>
</main>
{{- end }}