{{ define "main" }}
<header>
<h1 class="center">{{ .Title }}</h1>
</header>
<main>
{{ with .Site.Menus.social -}}
{{- if ge (len .) 1 -}}
<div class="box center">
    {{- range . }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end }}
</div>
{{- end }}
{{- end }}

<div class="box">
<span>recent writing:</span>
<ul>
{{- range first .Site.Params.postLimit .Site.RegularPages }}
<li>
    <a href="{{ .RelPermalink }}">{{ .Date | time.Format .Site.Params.dateFormat }}: {{ lower .Title }}</a>
</li>
{{- end }}
<li>
    <a href="{{ "/post" | relURL }}">...</a>
</li>
</ul>
</div>

<div class="box">
    <a href="{{ "/tags" | relURL }}">tags</a>:
    {{- range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a href={{ .RelPermalink }}>{{ $name }}</a>
    {{- end }}
    {{- end -}}
</div>
</main>
{{- end }}