body {
    background: white;
    color: black;
    font-family: monospace;
    max-width: 30rem;
}

.box {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

*:target { 
    background: yellow; 
}

hr {
    border: 0;
}

hr:after { 
    content: '--------------------' 
}

code {
    white-space: pre-wrap;
    background: black;
    color: white;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

pre code {
    display: block;
    padding: 1rem;
}