body {
    background: #fff;
    color: #000;
    font-family: monospace;
    font-size: 14px;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
}

.box {
    border: 1px solid #000;
    margin: 1rem;
    padding: 1rem;
}

.center {
    text-align: center;
}

hr {
    border: 0;
}

hr:after { 
    content: '--------------------';
}

code {
    white-space: pre-wrap;
    background: #000;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

pre code {
    display: block;
    padding: 1rem;
}

blockquote {
    word-wrap: break-word;
    text-align: center;
}

a:link, a:visited {
    color: #00e;
}

a:hover {
    color: #07f;
}

@media (prefers-color-scheme: dark) {
    body { background: #111; color: #ccc; }
    a:link, a:visited { color: #9bf; }
    a:hover { color: #9df; }
    .box { border-color: #bbb; }
    code, pre code { background: #000; color: #9c6; }
    code { background: none; }
}