body {
    background: #fff;
    color: #000;
    font-family: monospace, monospace;
    font-size: 14px;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
}

sup {
    vertical-align: baseline;
    font-size: inherit;
}

sup::before {
    content: ' (';
}

sup::after {
    content: ')';
}

h1 {
    font-size: 28px;
    margin-block: 0.4rem;
}

p {
    line-height: 1.4;
}

hr {
    border: 0;
    border-bottom: 1px solid #aaa;
    margin-block: 0.5rem;
}

code {
    white-space: pre-wrap;
    word-break: break-word;
}

code:not([class]) {
    background-color: #000;
    color: #fff
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

pre code {
    display: block;
    padding: 1rem;
    word-wrap: anywhere;
}

blockquote {
    word-wrap: break-word;
    text-align: center;
}

a {
    word-wrap: break-word;
}

a:link, a:visited {
    color: #00e;
    text-decoration: none;
}

a:hover {
    color: #05f;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin-block: 0.25rem;
}

.list li {
    display: inline;
    word-wrap: break-word;
}

.list li:before {
    content: "-";
    padding-right: 0.5rem;
}

.breadcrumb {
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
    word-wrap: break-word;
}

.breadcrumb li + li:before {
    content: ">";
    padding-inline: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    body { background: #111; color: #ccc; }
    a:link, a:visited { color: #9bf; }
    a:hover { color: #9df; }
    code:not([class]) { background: #ccc; color: #000; }
    hr { border-color: #666; }
}